<html lang='en'>
<head>
  <meta charset='utf-8'>
  <link rel='stylesheet' href='../static/style.css'>
  <script src='../static/client.js'></script>
</head>
<body>
<div>
  <div class='center'>
    <div class='title'>Diabetic Retinopathy</div>
    <p>
      Classify into two group <strong>NOT Having Daibetic Retionopathy</strong> and <strong>Having Daibetic Retionopathy</strong>
    </p>
    <h3>4th year project</h3>
    <h4> Under Guidance of:-Dr.Oishila Bandyopadhyay<h4>
     <ul>
       <li>Anoop Kumar Chauhan <strong> Roll No:-39/CSE/16009/166</strong></li>
        <li>Rakesh Kumar<strong> Roll No:-39/CSE/16164/155</strong></li>
       
      </ul>
    <div class='content'>
      <div class='no-display'>
        <input id='file-input'
               class='no-display'
               type='file'
               name='file'
               accept='image/*'
               onchange='showPicked(this)'>
      </div>
      <button class='choose-file-button' type='button' onclick='showPicker()'>Select Image</button>
      <div class='upload-label'>
        <label id='upload-label'>No file chosen</label>
      </div>
      <div>
        <img id='image-picked' class='no-display' alt='Chosen Image' height='200'>
      </div>
      <div class='analyze'>
        <button id='analyze-button' class='analyze-button' type='button' onclick='analyze()'>Analyze</button>
      </div>
      <div class='result-label'>
        <label id='result-label'></label>
        <ul style="color:red,">
       <li style="color:red">1<strong> Having Diabetic Retinopathy</strong></li>
        <li style="color:green">0<strong> Don't have Diabetic retinopathy</strong></li>
       
      </ul>
      </div>
    </div>
  </div>
</div>
</body>
</html>
